h1{
  font-family: 'luminari', sans-serif;
  text-align: center;
  padding-bottom: 3px;
  margin-bottom: 0px;
  margin-top: 0px;
}

#header{
  width: 40%;
  margin: 0 auto;
  background-color: #E5DFCF;
  border-style: outset;
  border-radius: 25px;
  border-color: #783f04;
  border-width: 5px;
}

#link{
  text-align: center;
  font-family: 'luminari', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
a:link {
  text-decoration: none;
  color: black;
}
a:hover{
  color: black;
}
a:visited{
  color: black;
}
a:active{
  color: black;
}

.link{
  margin: 5px;
}

p{
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  font-family: 'luminari';
  margin-top: 10px;
  font-size: 20px;
  color: black;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
}
table{
  background: rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  width: 50%;
  font-family: 'luminari';
  table-layout: fixed;
  text-align: center;
  border-radius: 25px;
}

body{
  background:#020202 url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/91dda5fd-93d0-4124-abe4-50bdf8e54899/dcnz5ha-ae1e0547-d390-40c2-9ff6-1976f096d5c0.jpg/v1/fill/w_1024,h_753,q_75,strp/old_pirate_ship_by_nele_diel_dcnz5ha-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzUzIiwicGF0aCI6IlwvZlwvOTFkZGE1ZmQtOTNkMC00MTI0LWFiZTQtNTBiZGY4ZTU0ODk5XC9kY256NWhhLWFlMWUwNTQ3LWQzOTAtNDBjMi05ZmY2LTE5NzZmMDk2ZDVjMC5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.LVM3lhRXH2sHn5ohaLHslmnmwdoxD3ik5epZPikSOvM');
  background-repeat: no-repeat;
  background-size: 100%;
}