h1{
  color: black;
  text-align: center;
  padding-top: 7%;
  font-family: 'Jack Pirate Alt PERSONAL USE', sans-serif;
  font-family: 'Jack Pirate PERSONAL USE ONLY', sans-serif;
  font-size: 50px;
}

#link{ 
  text-align: center;
  font-family: 'luminari', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
a:link {
  text-decoration: none;
  color: black;
}
a:hover{
  color: black;
}
a:visited{
  color: black;
}
a:active{
  color: black;
}

.link{
  margin: 5px;
}

#intro {
  width: 60%;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

p{
  text-align: center;
  font-size: 20px;
  font-family: 'luminari', sans-serif;
}

body{
  background-image: url(
"https://as2.ftcdn.net/v2/jpg/01/65/91/29/1000_F_165912971_NsQhODSscK4zDRtTvQ0q5XZd1RxWZXhn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}