h1{
  font-family: 'luminari', sans-serif;
  text-align: center;
  padding-bottom: 3px;
  margin-bottom: 0px;
  margin-top: 0px;
}

#header{
  width: 40%;
  margin: 0 auto;
  background-color: #E5DFCF;
  border-style: outset;
  border-radius: 25px;
  border-color: #783f04;
  border-width: 5px;
}

#link{
  text-align: center;
  font-family: 'luminari', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
a:link {
  text-decoration: none;
  color: black;
}
a:hover{
  color: black;
}
a:visited{
  color: black;
}
a:active{
  color: black;
}

.link{
  margin: 5px;
}

p{
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  font-family: 'luminari';
  margin-top: 10px;
  font-size: 20px;
  color: black;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
}
table{
  background: rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  width: 50%;
  font-family: 'luminari';
  table-layout: fixed;
  text-align: center;
  border-radius: 25px;
}

body{
  background:#6C437B url('https://i.redd.it/epauxw636f491.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
p{
  text-align: left;
  margin: auto;
  padding: 5px;
  font-family: 'luminari';
}

#places{
  background: rgba(255, 255, 255, 0.6);
  border-radius: 25px;
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
}

li{
  text-align: left;
  margin: auto;
  font-family: 'luminari';
}