h1{
    color: black;
    text-align: center;
  }
  
  #link{ 
    text-align: center;
  }
  
  .link{
    margin: 5px;
  }
  
  #intro {
    width: 60%;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
  }
  
  p{
    text-align: center;
    font-size: 20px;
  }